@model IEnumerable<BEUDelivery.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechapedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadopedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechapedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadopedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPedido }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPedido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPedido })
        </td>
    </tr>
}

</table>
